
.footer{
    background-color: #211E2B;
    height: 15rem;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .footer-nav{
   padding: 2rem;
   margin-top: 1rem;
  }

  .footer-nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-nav-list li{
    color: white;
    text-decoration: underline tomato;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    padding: 0;
    margin: 0;
  }

  .footer-branding{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    line-height: 0;
    padding-top: 2rem;
  }
 .footer-branding span{
   color: tomato;
 }

 .footer-branding p{
   color:dimgray;
   line-height: 0;
 }
