@font-face {
  font-family: 'Gill Sans Bold';
  src: local('Gill Sans Bold'), url('./assets//fonts/GillSans/Gill\ Sans\ Bold.otf') format('opentype');
}

:root {
  font-size: 16px;
  font-family: 'Gill Sans Bold';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background:  #0E0A23;
}

body::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 15px
}